<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Убийца монстра</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Здоровье монстра</h2>
        <div class="healthbar">
          <div
            class="healthbar__value"
            :style="monsterHealthStyles"
          ></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Здоровье игрока</h2>
        <div class="healthbar">
          <div
            class="healthbar__value"
            :style="playerHealthStyles"
          ></div>
        </div>
      </section>
      <section class="container" v-if="winner">
        <h2>Игра окончена:</h2>
        <h3 v-if="winner === 'Monster'">Вы проиграли!</h3>
        <h3 v-else-if="winner === 'Player'">Вы выиграли!</h3>
        <h3 v-else-if="winner === 'Draw'">Это ничья!</h3>
        <button @click="newGame">Начать новую игру</button>
      </section>
      <section id="controls" v-else>
        <button @click="attackMonster">АТАКА</button>
        <button
          :disabled="useSpecialAttack"
          @click="specialAttackMonter"
        >СПЕЦПРИЕМ</button>
        <button @click="healPlayer">ВЫЛЕЧИТЬСЯ</button>
        <button @click="surrender">СДАТЬСЯ</button>
      </section>
      <section id="log" class="container">
        <h2>Боевой журнал</h2>
        <ul>
          <li v-for="message in messagesLog">
            <span
              :class="{'log--player': message.actionBy === 'player', 'log--monster': message.actionBy === 'monster'}"
            >{{ message.actionBy === 'player' ? 'Игрок' : 'Монстр' }}</span>
            <span v-if="message.actionType === 'heals'"> лечится на <span class="log--heal">{{ message.actionValue }}</span> единиц</span>
            <span v-else> атакует и наносит <span class="log--damage">{{ message.actionValue }}</span> урона</span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
